*.sh text eol=lf
*.lua text eol=lf
*.htm text eol=lf
*.html text eol=lf
*.css text eol=lf
*.svg text eol=lf
*.json text eol=lf
*.md text eol=lf
*.yml text eol=lf
*.yaml text eol=lf
LICENSE text eol=lf
10-router-pages/factory-bin-C2000MAX-2.1.7.n0.c1-extracted/** -text
*.png binary
*.exe binary
